@model int
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container row">
    <div class="col-12 text-center pt-4">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : # @Model <br /><br />
        <img src="https://media.istockphoto.com/photos/smiling-female-business-owner-using-digital-tablet-and-talking-on-the-picture-id1301007650?b=1&k=20&m=1301007650&s=170667a&w=0&h=-evBp6q9UdYjcDZ3txAuixY5L3jmO92K3wP5wNYYI58=" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
            Your order has been placed successfully!
        <br />
    </div>
</div>